<div class="container" style="height: 516px;">
    <div class="row" style="height:15%">
        <div class="col-12 bg-dark rounded">
            <div class="row mt-3 justify-content-center">
                <img src="/public/room8s_logo.png" class="col-1">
                <h1 class="text-warning"> Le Chat </h1>
            </div>
        </div>
    </div>
    <div class="row scrollbar scrollbar-primary" style="height: 70%;overflow-y: scroll;">
        <div class="col-12 bg-light rounded">
            <div class="row mt-2 mb-2">
                <img src="/public/info.png" data-toggle="tooltip" data-placement="right" data-html="false"
                    title="User - Saturday 11:59 a.m." class="mr-2 ml-2" style="width: 4%; height: 4%;" alt="UserImg">
                <p style="width: 60%; " class="text-light bg-dark rounded p-3">Lorem Ipsum is simply dummyrem Ipsum.</p>
            </div>

            <div class="row mt-2 mb-2">
                <img src="/public/info.png" data-toggle="tooltip" data-placement="right" data-html="false"
                    title="User - Saturday 11:59 a.m." class="mr-2 ml-2" style="width: 4%; height: 4%;" alt="UserImg">
                <p style="width: 60%; " class="text-light bg-dark rounded p-3">Lorem Ipsum is simply dummyrem Ipsum.</p>
            </div>

            <div class="row mt-2 mb-2">
                <p style="width: 60%;" data-toggle="tooltip" data-placement="right" data-html="false"
                    title="User - Saturday 11:59 a.m." class="text-light bg-primary rounded p-3 offset-6">Lorem Ipsum is
                    simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem
                    Ipsum.Lorem Ipsum is simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem Ipsum.</p>
            </div>

            <div class="row mt-2 mb-2">
                <p style="width: 60%;" data-toggle="tooltip" data-placement="right" data-html="false"
                    title="User - Saturday 11:59 a.m." class="text-light bg-primary rounded p-3 offset-6">Lorem Ipsum is
                    simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem
                    Ipsum.Lorem Ipsum is simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem Ipsum.</p>
            </div>

            <div class="row mt-2 mb-2">
                <p style="width: 60%;" data-toggle="tooltip" data-placement="right" data-html="false"
                    title="User - Saturday 11:59 a.m." class="text-light bg-primary rounded p-3 offset-6">Lorem Ipsum is
                    simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem
                    Ipsum.Lorem Ipsum is simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem Ipsum.</p>
            </div>

            <div class="row mt-2 mb-2">
                <p style="width: 60%;" data-toggle="tooltip" data-placement="right" data-html="false"
                    title="User - Saturday 11:59 a.m." class="text-light bg-primary rounded p-3 offset-6">Lorem Ipsum is
                    simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem
                    Ipsum.Lorem Ipsum is simply dummyrem Ipsum.Lorem Ipsum is simply dummyrem Ipsum.</p>
            </div>

        </div>

    </div>

    <div class="row" style="height: 15%;">
        <div class="col-12 bg-secondary rounded d-flex align-items-center">
            <div class="input-group offset-2">
                <input id="searchText" placeholder="Type le Message..." type="text" class="bg-light text-dark col-10">
                </input>
                <div class="input-group-append">
                    <button onclick=myFunction(event) class="btn btn-success" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // $('[data-toggle="tooltip"]').tooltip();
    function myFunction(e) {
        console.log("someone clicked me", e);
        console.log($('#searchText').val());
        $('#searchText').val("");
    }
    $('#searchText').on('keydown', function (e) {
        if (e.which == '13') {
            myFunction(e);
        }
    });

</script>