<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags from Bootstrap for mobile device optimization -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- ΕΙΣΑΓΩΓΗ ΤΟΥ font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Include latest popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- <link rel="stylesheet" href="file:///Users/macuser/Developemnt/VScode/room8s/style.css" type="text/css"> -->
    <title>Room8s-Eksoda</title>
</head>

<body>

    <!--NAVIGATION BAR-->
    <%- include("template-nav-bar.ejs") %>

    <p> ΕΞΟΔΑ ΣΠΙΤΙΟΥ</p>
</body>

</html>