<!DOCTYPE html>
<html>

<head>

    <%- include("headers.ejs") %>

    <!-- local css -->
    <link rel="stylesheet" href="../public/css/expenses.css" type="text/css">

    <!-- local JS -->
    <script type="text/babel" src="../public/js/expenses.js"> </script>

    <title>Room8s-Eksoda</title>
</head>

<body>

    <!--NAVIGATION BAR-->
    <%- include("template-nav-bar.ejs") %>


    <div class="container" style="margin-top: 250px">
        <!-- <h2 class="h2-responsive" style="color: rgb(187, 255, 0)"><strong>Material Design Edge Headers</strong></h2> -->
        <div class="row">
            <div class='col-12'>
                <div class="btn-group btn-group-md" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#darkModalForm">Create Expense</button>
                    <button type="button" class="btn btn-secondary">View Totals</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class='col-12'>
                <table id='expenses-table' class="table table-hover table-dark ">
                </table>
            </div>
        </div>
    </div>

</body>

</html>