<!DOCTYPE html>
<html>

<head>

    <%- include("headers.ejs") %>

    <!-- local css -->
    <link rel="stylesheet" href="../public/css/expenses.css" type="text/css">

    <!-- local JS -->
    <script type="text/babel" src="../public/js/expenses.js"> </script>

    <title>Room8s-Eksoda</title>
</head>

<body>

    <!--NAVIGATION BAR-->
    <%- include("template-nav-bar.ejs") %>


    <div class="container" style="margin-top: 250px">
        <!-- <h2 class="h2-responsive" style="color: rgb(187, 255, 0)"><strong>Material Design Edge Headers</strong></h2> -->
        <div class="row">
            <div class='col-12'>
                <div class="btn-group btn-group-md" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#darkModalForm">Create Expense</button>
                    <button type="button" class="btn btn-secondary">View Totals</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class='col-12'>
                <table class="table table-hover table-dark ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Payer</th>
                            <th scope="col">Bitch</th>
                            <th scope="col">When</th>
                            <th scope="col">Description</th>
                            <th scope="col">How much</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Tolis</td>
                            <td>Pakis</td>
                            <td>2020-01-10</td>
                            <td>Grocery</td>
                            <td>10 $</td>
                        </tr>
                        <!-- <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog form-dark" role="document">
            <!--Content-->
            <div class="modal-content card card-image" style="background-color: burlywood">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <!--Header-->
                    <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel">
                            <strong>Create Expense</strong></a></h3>
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <!--Body-->
                        <div class="md-form mb-4">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-dark dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Creditor</button>
                                    <div id= 'creditor-drop-down' class="dropdown-menu">
                                    </div>
                                </div>
                                <input readonly = true id = "creditor-field" type="text" class="form-control" aria-label="Text input with dropdown button" value = 
                                "<%= user.firstName %> ">
                            </div>
                        </div>

                        <div class="md-form mb-4">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                        <button class="btn btn-dark btn-block" type="button">Credit</button>
                                </div>
                                <input id = "credit" autocomplete="off" name="email" type="number" class="form-control" placeholder="$$$">
                            </div>
                        </div>
                        
                        <div class="md-form mb-4">
                            
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-dark dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Method</button>
                                    <div id='method-payment-dropdown' class="dropdown-menu">
                                        <a id="split-evenly" class="dropdown-item">Evenly</a>
                                        <a id="split-manual" class="dropdown-item">Manual</a>
                                    </div>
                                </div>
                                <input readonly = true value = "Evenly" id = "method-payment-field" type="text" class="form-control" aria-label="Text input with dropdown button">
                                <div id = "link-div">
                                    <a id = "add-debtor-link" href="#">  <i class="fa fa-user-plus ml-2 mt-2 " style = "color:black"></i> </a>
                                </div>
                               </div>
                            
                        </div>
                             
                        
                        
                        <div id = "debtors-group">
                            <div id = 'debtor-1' class="md-form mb-4">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-dark dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Debtor</button>
                                            <div id= 'debtor-drop-down-1' class="dropdown-menu">
                                            </div>
                                    </div>
                                </div>
                                    <input readonly = true id="debtor-field-1" name="debtor" type="text" class="form-control" placeholder="Bitch">
                                    <input name="email" type="number" class="form-control" placeholder="Debt">
                                    <div id = "debtor-remove-1">
                                            <a href="#">  <i class="fa fa-times ml-2 mt-2 "  aria-hidden="true" style = "color:black"></i> </a>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        
                        <div class="mb-4">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                        <button class="btn btn-dark btn-block" type="button">Date</button>
                                </div>
                                <input name="email" type="date" class="form-control" onfocus="(this.type='date')"
                                    placeholder="When">
                            </div>
                        </div>
                        
                        <div class="mb-5">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-dark btn-block" type="button">Info</button>
                                </div>
                                <input  name="email" type="text" class="form-control" autocomplete="off" placeholder="Description">
                            </div>
                        </div>

                        <!--Grid row-->
                        <div class="row d-flex align-items-center mb-4">

                            <!--Grid column-->
                            <div class="text-center mb-3 col-md-12">
                                <button type="button"
                                    class="btn btn-success btn-block btn-rounded z-depth-1">Confirm</button>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                    </div>
                </div>
                <div id="alert-warning"  style="display:none" class="modal-footer">
                    <div class="alert alert-warning col-12" role="alert" style="padding-bottom: 0">
                        <p class='text-center '>
                            <strong>Warning!</strong> you dont need any more debtors, trust me! ;)
                        </p>
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Modal -->
</body>

</html>