<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags from Bootstrap for mobile device optimization -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />


    <!--Bootsrap.css 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../public/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">


    <title>Room8s</title>

    <!-- To script για να λειτουργεί το Show-hide button -->
    <script type="text/javascript">
        function showHideDiv(ele) {
            var srcElement = document.getElementById(ele);
            if (srcElement != null) {
                if (srcElement.style.display == "block") {
                    srcElement.style.display = 'none';
                } else {
                    srcElement.style.display = 'block';
                }
                return false;
            }
        }

    </script>

</head>

<body>

    <!--NAVIGATION BAR-->
    <%- include("template-nav-bar.ejs") %>
    <br>
    <br>
    <br>

    <% if (userHasGroup == false){ %>
    <script>
        window.onload = function () {
            if (this.name == 'done') {
            } else {
                this.name = 'done';
                $('#exampleModalCenter').modal('show');
            }
        }
    </script>
    <% } %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Welcome, <%= user.firstName %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    It seems like you are not assigned in a group, would you like to create a group?
                </div>
                <div class="modal-footer">
                    <button id='rjct-btn' type="button" class="btn btn-secondary" data-dismiss="modal">Maybe
                        later</button>
                    <button type="button" class="btn btn-primary">Yes, let's go</button>
                </div>
            </div>
        </div>
    </div>

    <% if (userHasGroup == true ){ %>
    <div id="enoikoi">
        <h2><i class="fas fa-home"></i> ΕΝΟΙΚΟΙ </h2>


        <div class="row">
            <div class="col-xs-4">

                <!-- Κουμπί που πατιέται και εμφανίζει τα στοιχεία του εκάστοτε ενοίκου-->
                <input class="btn btn-block" type="button" value="Αποστόλης Γεροδήμος"
                    onClick="showHideDiv('divMsg')" /><br><br>
                <div class="wheat-box" id="divMsg"
                    style="color: black; background-color: wheat; height: 300px; width: 415px;  display:none">
                    <ul>
                        <li class="pers-info">Όνομα: Αποστόλης</li> <br>
                        <li class="pers-info">Επίθετο: Γεροδήμος</li> <br>
                        <li class="pers-info">Ημερομηνία Γέννησης: 02/02/1994</li> <br>
                        <li class="pers-info">Ηλεκτρονική Διεύθυνση: aposgerodimos@gmail.com</li><br>
                        <li class="pers-info">Τηλέφωνο: 6970123891</li> <br>
                        <li class="pers-info">Κατηγορία: A'</li>
                    </ul>
                </div>

            </div>


            <div class="col-xs-4">

                <input style="margin-left:10px" class="btn btn-block" type="button" value="Φίλιππος Γεροδήμος"
                    onClick="showHideDiv('divMsg2')" /><br><br>
                <div class="wheat-box" id="divMsg2"
                    style=" color: black; background-color:wheat; height: 300px; width: 415px; display:none">
                    <ul>
                        <li class="pers-info">Όνομα: Φίλιππος</li> <br>
                        <li class="pers-info">Επίθετο: Γεροδήμος</li> <br>
                        <li class="pers-info">Ημερομηνία Γέννησης: 01/01/1996 </li><br>
                        <li class="pers-info">Ηλεκτρονική Διεύθυνση: filgerodimos@gmail.com</li><br>
                        <li class="pers-info">Τηλέφωνο: 6978910123 </li><br>
                        <li class="pers-info">Κατηγορία: Β'</li>
                    </ul>

                </div>
            </div>

        </div>

    </div>
    <% } else { %>

    <div class="container-fluid">
        <!-- <div class="d-flex flex-row  mb-5 justify-content-left"> -->

        <div class="row">
            <div class="col">
                <h4> Group wasn't found :-( </h4>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <button type="button" class="btn btn-primary">Create Group</button> </div>
        </div>
        <!-- </div> -->
    </div>
    </div>


    <% } %>

    <!--ΠΛΗΡΟΦΟΡΙΕΣ ΣΧΕΤΙΚΑ ΜΕ ΤΑ ΣΤΟΙΧΕΙΑ ΤΟΥ ΣΠΙΤΙΟΥ ΠΟΥ ΕΝΟΙΚΙΑΖΕΤΑΙ-->
    <div id="topothesia">


        <h2><i class="fas fa-globe-europe"></i> ΤΟΠΟΘΕΣΙΑ </h2>

        <div class="wheat-box">
            <ul>
                <li class="pers-info"><em>ID:</em>abse14</li><br>
                <li class="pers-info"><em>Διεύθυνση:</em> Γαμβέτα 17</li><br>
                <li class="pers-info"><em>Όροφος:</em> 1ος</li><br>
                <li class="pers-info"><em>Τ.Κ:</em> 41221</li><br>
                <li class="pers-info"><em>Χώρα:</em> Ελλάδα</li>

            </ul>
        </div>

        <!-- O χάρτης Google Maps που θα δείχνει την τοποθεσία του σπιτιού που ενοικιάζουν-->
        <h3><i class="fas fa-map-marked-alt"></i> Δες το στον χάρτη: </h3>

        <div id="googleMap" style="width: 600px;height:300px;"></div>

        <script>
            function myMap() {
                var mapProp = {
                    center: new google.maps.LatLng(51.508742, -0.120850),
                    zoom: 5,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>

    </div>



</body>

</html>