<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags from Bootstrap for mobile device optimization -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />


    <!--Bootsrap.css 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <script type="text/babel" src="../public/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">

    <!-- React dependecies -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <!-- 
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->



    <title>Room8s</title>

    <!-- To script για να λειτουργεί το Show-hide button -->
    <script type="text/javascript">
        function showHideDiv(ele) {
            var srcElement = document.getElementById(ele);
            if (srcElement != null) {
                if (srcElement.style.display == "block") {
                    srcElement.style.display = 'none';
                } else {
                    srcElement.style.display = 'block';
                }
                return false;
            }
        }

    </script>

</head>

<body>
    <!--NAVIGATION BAR-->
    <%- include("template-nav-bar.ejs") %>
    <br>
    <br>
    <br>

    <% if (userHasGroup == false){ %>
    <script>
        window.onload = function () {
            if (this.name == 'done') {
            } else {
                this.name = 'done';
                $('#exampleModalCenter').modal('show');
            }
        }
    </script>
    <% } %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Welcome, <%= user.firstName %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    It seems like you are not assigned in a group, would you like to create a group?
                </div>
                <div class="modal-footer">
                    <button id='rjct-btn' type="button" class="btn btn-secondary" data-dismiss="modal">Maybe
                        later</button>
                    <button type="button" class="btn btn-primary">Yes, let's go</button>
                </div>
            </div>
        </div>
    </div>

    <% if (userHasGroup == true ){ %>
    <div class="container">
        <div class="row">
            <div class="jumbotron col-6">
                <h1 class="display-6"> <i class="fas fa-home"> </i> My Roomates</h1>
                <hr class="my-4">
                <p class="lead">Click to view Details </p>
                <div id='usersInGroup' class="lead">
                </div>
            </div>
        </div>
    </div>
    <% } else { %>

    <div class="container-fluid">
        <!-- <div class="d-flex flex-row  mb-5 justify-content-left"> -->

        <div class="row">
            <div class="col">
                <h4> Group wasn't found :-( </h4>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <button type="button" class="btn btn-primary">Create Group</button> </div>
        </div>
        <!-- </div> -->
    </div>
    </div>


    <% } %>


</body>

</html>

<script type="text/babel">

    class Userbutton extends React.Component {
        render() {
            return (<a className="btn btn-dark btn-lg mr-1" href="#" role="button">{this.props.userFirstName}</a>);
        }
    }

    class Group extends React.Component {
        render() {

            let users = this.props.userNames;
            let usernames = users.map( user => user.firstName);

            const buttons = usernames.map( username => <Userbutton userFirstName = {username} /> )
            return ( <React.Fragment> {buttons} </React.Fragment> ) 
        }
    }
    $(document).ready(function () {
        ReactDOM.render(
            <Group userNames={ <%- JSON.stringify(user.usersInGroup) %> } />, document.getElementById("usersInGroup") )
    });

</script>