<!DOCTYPE html>
<html>

<head>
    <link rel='icon' href="../public/room8s_logo.ico" type='image/x-icon'/>
    <%- include("headers.ejs") %>
    <script> var loggedInUser = <%- JSON.stringify(user) %> </script>

    <script src="socket.io/socket.io.js"></script>
    <script type="text/babel" src="../public/webpack/expensesPage.js"></script>
    <script>
        if (socket === undefined) {
            var socket = io.connect();

            document.addEventListener('triggerNewMessageSound', e => {
                // socket.emit("broadcastNewGroupMessage", e.detail);
                let details = e.detail;
                document.getElementById(details.id).play();
            });
            // socket = io.connect('http://localhost:8082/expenses');
            // console.log('user logged in is=========',user.id);
            socket.emit('user_connected', loggedInUser);
            document.addEventListener('LoggedInStatus', function (e) {
                console.log('EVENT FOR LOG STATUS CAUGHT SUCCESSFULLY with user', e.detail);
                let RequestFromUser = e.detail;
                socket.emit('get_logged_in_users', RequestFromUser);
            });
            socket.on('sent_logged_in_users', function (loggedInUsersId) {
                console.log('ABOUT TO INFORM HOME COMPONENT', loggedInUsersId);
                var getUserLoggedStatusEventReply = new CustomEvent('LoggedInStatusReply', { detail: loggedInUsersId });
                document.dispatchEvent(getUserLoggedStatusEventReply);
            })
            socket.on('newGroupMessageReceived', function (newMsg) {
                let notifyGroupForNewMsgEvent = new CustomEvent('newGroupMessageReceived', { detail: newMsg });
                document.dispatchEvent(notifyGroupForNewMsgEvent);

                let newMessageSoundEvent = new CustomEvent('triggerNewMessageSound', { detail: { id: "newMessageSound" } });
                document.dispatchEvent(newMessageSoundEvent);
            });
            socket.on('user_in_my_group_connected', function (loggedInUsersId) {
                console.log("caught socket event user_in_my_group_connected____________________________", loggedInUsersId);
                let getUserLoggedStatusEventReply = new CustomEvent('LoggedInStatusReply', { detail: loggedInUsersId });
                document.dispatchEvent(getUserLoggedStatusEventReply);
            });

            socket.on('user_in_my_group_added_expense', function (expenseData) {
                console.log('i received the event change in expense table');
                let createEvent = new CustomEvent('new-expense', { detail: expenseData });
                document.dispatchEvent(createEvent);
            })
            socket.on('user_in_my_group_disconnected', function (disconnectedUserId) {
                console.log('disconnect event received by client', disconnectedUserId);
                let userLoggedOffEvent = new CustomEvent('LoggedOffStatus', { detail: disconnectedUserId });
                document.dispatchEvent(userLoggedOffEvent);
            });

            socket.on('user_changed_photo', function (userDetails) {
                let userChangedImgEvent = new CustomEvent('userChangedPhoto', { detail: userDetails });
                document.dispatchEvent(userChangedImgEvent);
            })
        }
    </script>
    <script src="../public/client/client.js"></script>
    <script src="../public/client/worker.js"></script>
    <style>
        .tooltip-inner {
            min-width: 250px;
            /* the minimum width */
        }
    </style>
    <script id="mainPageScript" type="text/babel" src="../public/webpack/mainPage.js"></script>
    <script type="text/javascript" src="../public/webpack/autoComplete.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">

    <title>Room8s</title>

    <!-- To script για να λειτουργεί το Show-hide button -->
    <script type="text/javascript">
        function showHideDiv(ele) {
            var srcElement = document.getElementById(ele);
            if (srcElement != null) {
                if (srcElement.style.display == "block") {
                    srcElement.style.display = 'none';
                } else {
                    srcElement.style.display = 'block';
                }
                return false;
            }
        }

    </script>

</head>

<body>
    <!--NAVIGATION BAR-->
    <%- include("template-nav-bar.ejs") %>

    <% if (userHasGroup == false){ %>
    <script>
        window.onload = function () {
            if (this.name == 'done') {
            } else {
                this.name = 'done';
                $('#exampleModalCenter').modal('show');
            }
        }
    </script>
    <% } %>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Welcome, <%= user.firstName %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    It seems like you are not assigned in a group, would you like to create a group?
                </div>
                <div class="modal-footer">
                    <button id='rjct-btn' type="button" class="btn btn-secondary" data-dismiss="modal">Maybe
                        later</button>
                    <button type="button" class="btn btn-primary">Yes, let's go</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End -->



    <% if (userHasGroup == true ){ %>
    <div id="content-container" class="container-fluid" style="display: none;">


    </div>

    <% } else { %>

    <div class="container-fluid">
        <!-- <div class="d-flex flex-row  mb-5 justify-content-left"> -->

        <div class="row">
            <div class="col">
                <h4> Group wasn't found :-( </h4>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <button type="button" class="btn btn-primary">Create Group</button> </div>
        </div>
        <!-- </div> -->
    </div>
    </div>
    <% } %>
    <div id='CreateFormContent'> </div>
    <audio id="newMessageSound" src="../public/eventually.mp3" preload='auto'></audio>
</body>

</html>